{% extends "auth.html" %}
{% load tags %}

{% block content %}
<main class="grid h-screen w-screen place-items-center">
  <article class="w-96">
    <div
      class="not-prose relative flex w-96 flex-col rounded-md border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900"
    >
      <div>
        <img
          class="h-96 w-96 object-cover rounded-t-md"
          src="{{ nft.image.url }}"
          alt="{{ nft.name}}"
        />
      </div>
      <div class="px-4 py-5 sm:p-6">
        <h2 class="font-bold">{{ nft.name }}</h2>
        <p class="text-sm">{{ nft.unit }}</p>
        <form method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="w-full mt-2 focus:outline-none disabled:cursor-not-allowed disabled:opacity-75 flex-shrink-0 font-medium rounded-md text-sm gap-x-1.5 px-2.5 py-1.5 shadow-sm text-white dark:text-gray-900 bg-amber-500 hover:bg-amber-600 disabled:bg-amber-500 dark:bg-amber-400 dark:hover:bg-amber-500 dark:disabled:bg-amber-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-500 dark:focus-visible:outline-amber-400 inline-flex items-center justify-center"
          >
            Claim
          </button>
        </form>
      </div>
    </div>
  </article>
</main>
{% endblock content %}
